
<%= link_to 'About', pages_path %>


<div class="container">
  <ul class="nav nan-tabs">
    <%= link_to 'Home', 'home#index' %>
    <%= link_to "Guide", 'pages/guide' %>
    <%= link_to "Contact",  'pages/contact' %>
    <%= link_to "Login/Sign Up", 'users/new' %>
  </ul>

</div>
